#title {
    font-size:24px;
    text-align:center;
    font-weight:600;
    padding:-10px;
    margin-top:-32px;
    margin-bottom:-38px;
    color:#444;
}

.bbox {
  border:1px solid #EEE;
  border-radius: 25px!important;
  padding:0px!important;
}

.card-md h1 {
  font-size:16px;
  padding:40px;
  font-weight:600;
  color:#454545;
}

#footer {
  text-align:center;
}

.center {
  text-align:center!important;
}

.insight {
  font-size:18px!important;
  margin-top:-70px!important;
  padding:10px;
}

.in {
  font-size:22px;
  padding:30px 95px;
}
